<form [formGroup]="form">
  <div>
    <label>ID:</label>
    <input type="number" formControlName="id" readonly/><br>
    <label>First name:</label>
    <input type="string" formControlName="name"><br>
    <label>Last name:</label>
    <input type="string" formControlName="lastName"><br><br>
    <label>Wybierz datę: </label><br>
    <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker" placeHolder="wybierz datę" formControlName="birthdayDate" >
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field><br>
    <label>Wzrost: </label><br>
    <mat-slider min="0" max="250" formControlName="wzrost"></mat-slider><br>
    <label>Waga: </label><br>
    <mat-slider min="0" max="500" step="0.2" formControlName="waga"></mat-slider><br>
    <button (click)="writeToConsole()" [disabled]="!form.valid">Submit</button>
  </div>
</form>



