<form [formGroup]="form">
  <label>ID:</label>
  <input type="text" formControlName="id" readonly/><br>
  <label>firstName:</label>
  <input type="text" formControlName="firstName"/><br>
  <label>lastName:</label>
  <input type="text" formControlName="lastName"/><br>
  <label>birthDate:</label>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Wybierz date" formControlName="birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <label>wzrost:</label>
  <mat-slider min="0" max="300" step="1" value="1" formControlName="wzrost"></mat-slider><br>
  <button (click)="toConsole()">Wyświetl</button>
</form>

